In [14]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsRegressor

from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [15]:
df = pd.read_csv("F:/Python DS/db/CO2.csv")
df

   Plant         Type   Treatment  conc  uptake
0    Qn1       Quebec  nonchilled    95    16.0
1    Qn1       Quebec  nonchilled   175    30.4
2    Qn1       Quebec  nonchilled   250    34.8
3    Qn1       Quebec  nonchilled   350    37.2
4    Qn1       Quebec  nonchilled   500    35.3
..   ...          ...         ...   ...     ...
79   Mc3  Mississippi     chilled   250    17.9
80   Mc3  Mississippi     chilled   350    17.9
81   Mc3  Mississippi     chilled   500    17.9
82   Mc3  Mississippi     chilled   675    18.9
83   Mc3  Mississippi     chilled  1000    19.9

[84 rows x 5 columns]

In [21]:
dum_df = pd.get_dummies(df, drop_first=True)
dum_df

,conc,uptake,Plant_Mc2,Plant_Mc3,Plant_Mn1,Plant_Mn2,Plant_Mn3,Plant_Qc1,Plant_Qc2,Plant_Qc3,Plant_Qn1,Plant_Qn2,Plant_Qn3,Type_Quebec,Treatment_nonchilled
0,95,16.0,0,0,0,0,0,0,0,0,1,0,0,1,1
1,175,30.4,0,0,0,0,0,0,0,0,1,0,0,1,1
2,250,34.8,0,0,0,0,0,0,0,0,1,0,0,1,1
3,350,37.2,0,0,0,0,0,0,0,0,1,0,0,1,1
4,500,35.3,0,0,0,0,0,0,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,250,17.9,0,1,0,0,0,0,0,0,0,0,0,0,0
80,350,17.9,0,1,0,0,0,0,0,0,0,0,0,0,0
81,500,17.9,0,1,0,0,0,0,0,0,0,0,0,0,0
82,675,18.9,0,1,0,0,0,0,0,0,0,0,0,0,0
83,1000,19.9,0,1,0,0,0,0,0,0,0,0,0,0,0

In [22]:

X = dum_df.drop('uptake', axis=1)
y = dum_df.iloc[:,1]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.3, 
                                                    random_state=2020)

In [24]:
knn = KNeighborsRegressor(n_neighbors=2)
knn.fit( X_train , y_train )
y_pred = knn.predict(X_test)

In [25]:
print( np.sqrt( mean_squared_error(y_test, y_pred)))
print(mean_absolute_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

4.389158408905008
3.5211538461538456
0.820308533055753